.img_header {
  height: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}
.img_header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
.text-overlay h1 {
  position: absolute;
  top: 22%;
  left: 40%;
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  color: rgb(13, 149, 27);
  font-size: 80px;
}
.text-overlay h2 {
  position: absolute;
  top: 35%;
  left: 41%;
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  color: rgb(13, 149, 27);
  font-size: 40px;
}
.search_bar {
  position: absolute;
  top: 360px;
  left: 35%;
  height: 55px;
  width: 460px;
  background-color: white;
  opacity: 90%;
  display: flex;
  border-radius: 7px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.search_bar:hover {
  transform: scale(1.02);
}
.search_bar input {
  width: 100%;
  background-color: white;
  border: none;
}

.search_logo {
  height: 100%;
  width: 20%;
}
.search_logo img {
  padding-top: 5px;
  padding-left: 5px;
  height: 80%;
  width: 58%;
}

.today_menu {
  height: 456px;
  width: 80vw;
  margin-top: 50px;
  margin-left: 10%;
  background-image: url("../Resources/TodayMenuBanner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.today_menu img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
.today_menu h1 {
  /* position: absolute; */
  color: white;
 margin-left: 10%;
 padding-top: 5%;
  /* top: 90vh; */
  font-size: 75px;
  /* left: 270px; */
  color: transparent;
  -webkit-text-stroke: 2px white;
  font-family: "Oswald", sans-serif;
}
.today_menu h2 {
  color: white;
  margin-left: 10%;
  font-size: 75px;
  font-family: "Oswald", sans-serif;
}
.today_menu span {
  color: rgb(255, 207, 14);
}
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
.today_menu h3 {
  margin-left: 10%;
  color: rgb(244, 147, 10);
  font-size: 70px;
  font-family: 'Young Serif', serif;
}
.today_menu button {
  margin-left: 10%;
  background-color: rgb(249, 245, 245);
  font-size: 25px;
  width: 15%;
  font-family: cursive;
  border: none;
  border-radius: 20px;
  box-shadow: inset;
  color: rgb(13, 149, 27);
}
.Categories {
  background-color: #eae9e9;
  height: 170px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Categories h2 {
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 30px;
  color: black;
  font-size: 40px;
}
.Categories ul {
  display: flex;
  list-style: none;
}
.Categories li {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  padding: 25px;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.OurTeam {
  
  height: 456px;
  width: 100vw;
  margin-top: px;
  /* margin-left: 10%; */
  background-image: url("../Resources/greenbg.jpg");
  background-size: contain; 
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: 100%;

}
.OurTeam h1{
  font-family: 'Merriweather', serif;
  color: rgb(41, 18, 18);
  text-align: center;
  font-size: 80px;
  
}
.cards{
    height:340px;
    width: 300px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;

}
.cards img{
  height: 1%;
  width:100%



}
