.RecipeArea {
  width: 100%;
  display: flex;
  justify-content: center;
 
}
.RecipeContainer{
    height: 100%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 50px;
    justify-content: center;

}
